<form class="form" action="/answer" method="get">
  <input class="input-form" type="text" name="question" placeholder="Ask something...">
  <input class="submit-form" type="submit" value="Ask">
</form>